<?xml version="1.0" encoding="utf-8"?>
<DataType Key="121df631-4af5-4b59-9c80-c2763ecf60a9" Alias="Home Blocks" Level="2">
  <Info>
    <Name>Home Blocks</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "block_EmailForm",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>