<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f0f3cc52-80ea-436a-b4a7-9b03603f17ff" Alias="homepage" Level="1">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page that can be set as the entry point to your site. Uses a stacked block approach to composing your page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4258f390-a0cc-4d7b-bc33-3c08f23ecdbd">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>afff33ec-ac35-4a4f-97ef-fd1985092f3e</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>121df631-4af5-4b59-9c80-c2763ecf60a9</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Blocks</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Blocks</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>