<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b291c8e2-96b1-4ce4-bb1d-62063acd10bb" Alias="site" Level="1">
  <Info>
    <Name>Site</Name>
    <Icon>icon-globe-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The start of your site, used to configure hostnames and settings that affect all (or most) pages.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f0f3cc52-80ea-436a-b4a7-9b03603f17ff">homepage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>