<?xml version="1.0" encoding="utf-8"?>
<Content Key="12906f93-21c2-4e04-8629-a66094db1902" Alias="Home" Level="2">
  <Info>
    <Parent Key="c7a771f5-1115-4fe5-8170-571933c7f2e8">Site</Parent>
    <Path>/Site/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homepage</ContentType>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4258f390-a0cc-4d7b-bc33-3c08f23ecdbd">Homepage</Template>
  </Info>
  <Properties>
    <blocks>
      <Value>[{"key":"b112f44d-293e-4a2c-8230-b55dc6361ae3","name":"Item 1","ncContentTypeAlias":"block_EmailForm","label":null}]</Value>
    </blocks>
  </Properties>
</Content>