<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7a771f5-1115-4fe5-8170-571933c7f2e8" Alias="Site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Site</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <NodeName Default="Site" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>