$bodyBackground-color: MintCream;
$background-color: LightGrey;
$border-color: Gray;
$text-color: Black;

$secondary-background-color: AliceBlue;
$secondary-border-color: DarkSlateBlue;
$secondary-text-color: Black;

$default-border: 2px solid $border-color;
$default-alternate-border: 2px solid $secondary-border-color;